:root {
    --cor-primaria: #fcd717;
    /* verde-floresta */
    --cor-secundaria: #000000;
    /* bege médio */
    --cor-destaque1: #fcd717;
    /* azul-escuro acinzentado */
    --cor-destaque2: #000000;
    /* amarelo-claro dourado */
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-body);
    color: #000000;
}

header,
main,
footer {
    width: 1300px;
    margin: 0 auto;
}

.hero h1 {
    position: absolute;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-secundaria);
    text-align: center;
}

.historia {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-align: left;
}

.historia img {
    width: 400px;
    height: 200px;
    margin-top: 28px;
}

.aventura {
    display: flex;
    justify-content: space-around;
    padding-top: 1px;
    color: #000000;
    text-align: center;

}

.aventura img {
    width: 250px;
    height: 150px;
    margin-top: 28px;
    padding: 5px;

}

p {
    color: var(--cor-destaque2);
}

footer {
    color: var(--cor-destaque2);
    background-color: steelblue;

}

footer p {
    text-align: center;
    position: relative;
    top: 40px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--cor-primaria);
    color: #000000;

}

.socialmedia a {
    text-decoration: none;
}

.redes-sociais a {
    text-decoration: none;
}

.redes-sociais {
    display: flex;
    justify-content: flex-end;
}

.redes-sociais img {
    width: 40px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: #000000;
}

.hero article img {
    float: right;
    width: 125px;
}

header nav {
    background-color: #F0CE44;
    padding: 1rem;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

/* Estiliza palavras do header  */
nav ul li a {
    text-decoration: none;
    color: #000000;
}

/*muda a cor do texto */
nav ul li a:hover {
    color: steelblue;
}

.header img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 3fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1300px;
    background-color: #F0CE44;
    color: #000000;
}